ul.lingue {
	width:300px;
	margin:0;
	padding:5px 10px;
	background-color:#f8f8f8;
	list-style:none;
	}

ul.lingue li {
	position:relative;
	padding:10px;
	margin:5px 0;
	background-color:#fff;
	border:1px solid #e8e6e4;
	cursor:n-resize;
	}

ul.lingue li span {
	position:absolute;
	top:5px;
	right:5px;
	}

#drago {
	width:300px;
	}
#drago li {
	position:relative;
	padding:10px;
	margin:5px 0;
	background-color:#fff;
	border:1px solid #e8e6e4;
	list-style:none;
	}

#drago span {
	position:absolute;
	top:5px;
	right:5px;
	}

.dragOver {
	background-color:#F0F0F0;
	box-shadow:inset 0 0 2px 0 #416689;
	}