table.tabella td {
	padding:4px 20px;
	}
table.tabella .data {
	background-color:#f0f0f0;
	text-align:center;
	padding:4px 10px;
	}
table.tabella tr:hover {
	background-color:#fbf7c5;
	}
table.tabella tr:hover .data {
	background-color:#ee8;
	}
table.tabella tr:hover .num {
	background-color:#416689;
	}
table.tabella .num {
	font-size:1.5em;
	background-color:#444;
	color:#fff;
	text-align:center;
	}
table tr.odd {
	background-color:#f0f0f0;
	}