table.tabella td {
	padding:10px 15px;
	}
table.tabella {
	border:0;
	}
table.tabella h2 {
	font-size:1em;
	}
table.tabella h2 a {
	color:#000;
	font-weight:normal;
	}
table.tabella tr .percorso {
	background-color:#f0f0f0;
	font-size:.8em;
	}
table.tabella tr:hover .percorso {
	background-color:#e8e8e8;
	}
table.tabella tr .percorso a {
	color:#888;
	}
table.tabella .sposta, #drago  .sposta {
	background-color:#f0f0f0;
	color:#888;
	font-size:.8em;
	cursor:move;
	}

.fileList {
	list-style:none;
	margin:0 0 0 10px;
	padding:0;
	}
.fileList ul {
	display:none;
	}
.fileList li .actions {
	visibility:hidden;
	}
.fileList li:hover .actions {
	visibility:visible;
	}
.fileList li.folder a {
	background-color:#FBF7C5;
	}
.fileList a {
	cursor:pointer;
	}

#HTMLeditor {
	width:100%;
	height:400px;
	}
.intestazione {
	padding:2px 10px;
	color:#888;
	background-color:#e0e0e0;
	font-size:.8em;
	}
.intestazione h2 {
	font-size:1.1em;
	color:#888;
	}
	

/* shop */

.inactive {
	padding:10px;
	border:1px solid #eee;
	background-color:#fff;
	height:400px;
	overflow:auto;
	}
.inactive ul,#drago ul {
	margin:0;
	padding:0;
	}
.inactive li,#drago li {
	list-style:none;
	background-color:#f0f0f0;
	border:1px solid #eee;
	padding:2px 4px;
	margin:1px 0;
	cursor:move;
	}
.zoneContainer {
	border:2px solid #eee;
	background-color:#fff;
	padding:0 0 20px 0;
	position:relative;
	}
.zoneContainer ul {
	list-style:none;
	}
.DropZone {
	padding:20px;
	margin:0;
	}
.DropZone li {
	width:200px;
	float:left;
	cursor:pointer;
	}

ul.DragDeveloper {
	width:300px;
	margin:0;
	padding:5px 10px;
	background-color:#f8f8f8;
	list-style:none;
	}

ul.DragDeveloper li {
	position:relative;
	padding:10px;
	margin:5px 0;
	background-color:#fff;
	border:1px solid #e8e6e4;
	cursor:move;
	}

ul.DragDeveloper li span {
	position:absolute;
	top:5px;
	right:5px;
	}

table#tariffe.tabella td {
	padding:0;
	}
table#tariffe.tabella input {
	border:0;
	text-align:right;
	width:50px;
	}
table#tariffe.tabella .weight input {
	width:80px;
	font-weight:bold;
	}

.couponsValid {
	display:inline-block;
	width:47%;
	margin:1%;
	}
.couponsUsed {
	display:inline-block;
	width:47%;
	margin:1%;
	}
.couponsValid h3 {
	text-align:center;
	background-color:#648C00;
	color:#E2F2BA;
	padding:3px;
	border-radius:5px;
	}
.couponsUsed h3 {
	text-align:center;
	background-color:#8C0200;
	color:#FCEBCC;
	padding:3px;
	border-radius:5px;
	}
.couponsValid a.count {
	display:block;
	text-align:center;
	padding:50px 0;
	font-size:3em;
	border-radius:5px;
	background-color:#E2F2BA;
	color:#648C00;
	}
.couponsUsed a.count {
	display:block;
	text-align:center;
	padding:50px 0;
	font-size:3em;
	border-radius:5px;
	background-color:#FCEBCC;
	color:#8C0200;
	}
table.tabella .valid {
	text-align:center;
	color:#648C00;
	}
table.tabella .used {
	text-align:center;
	color:#8C0200;
	}
table.tabella h2 {
	font-weight:bold;
	}
