/* 2008 Copyright Kalamun - GNU/GPL 3 */

/* @group init */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,cite,code,em,img,small,strike,strong,sub,sup,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td  {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background: transparent;
	}
html,body {
	width:100%;
	height:100%;
	}
body {
	line-height:1;
	}
ol,ul {
	padding-left:20px;
	}
blockquote {
	quotes: none;
	}
blockquote:before,blockquote:after {
	content:'';
	content:none;
	}
:focus {
	outline:0;
	}
table {
	border-style:none;
	border-collapse:separate;
	border-spacing:0;
	border:0;
	}
table td {
	padding:2px;
	vertical-align:top;
	}
img {
	behavior:url('./iepngfix.htc');
	vertical-align:middle;
	border:0;
	}
/* @end */


/* @group typography */
h1,h2,h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
	color:#aaa;
	margin:0;
	padding:0;
	line-height:1.3em;
	font-weight:normal;
	text-decoration:none;
	}
h1 {
	font-size:2em;
	line-height:1em;
	}
h2 {
	font-size:1.3em;
	margin:20px 0 10px 0;
	}
h3 {
	font-size:1.1em;
	margin:0;
	}
h4 {
	font-size:1em;
	margin:0;
	}
p {
	margin:10px 0;
	}
img {
	border:0;
	vertical-align:middle;
	}
hr {
	height:1px;
	border:0;
	color:#f8f6f4;
	background-color:#ccc;
	margin:20px 0 !important;
	margin:0;
	padding:0;
	}
a {
	color:#1698ce;
	text-decoration:none;
	}
a:hover {
	color:#36b8ee;
	text-decoration:none;
	}
input {
	font:1em Arial,Helvetica,Tahoma,sans-serif;
	}
small {
	font-size:.8em;
	}
/* @end */


/* @group layout */
body {
	padding:0;
	margin:0;
	background:url('../img/bkg.png') top center repeat-x #e7e7e7;
	color:#4d5256;
	font:.8em Georgia,"Times New Roman",serif;
	line-height:1.8em;
	text-align:left;
	}
#container {
	width:926px;
	margin:0 auto;
	}
#corpo {
	position:relative;
	background:url('../img/cbkg.png') bottom left repeat-x #fff;
	padding:140px 0 35px 0;
	height:auto !important;
	height:500px;
	min-height:500px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 3px 5px 5px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 3px 5px 5px rgba(0,0,0,0.05);
	box-shadow: 0 3px 5px 5px rgba(0,0,0,0.05);
	}
#header {
	position:relative;
	padding:30px 20px;
	margin:0 auto;
	color:#929292;
	}
#header a {
	color:#4d5256;
	text-decoration:none;
	}
#header h2 {
	font-size:2.5em;
	margin:0;
	text-shadow: #bbb 0 2px 2px;
	}
#header h3 {
	text-shadow: #ccc 0 2px 2px;
	}

#lang {
	position:absolute;
	top:4px;
	right:22px;
	}
#lang ul {
	margin:0;
	padding:0;
	list-style:none;
	}
#lang li {
	display:inline-block;
	margin:0 3px;
	}
#lang li a.sel img {
	margin:0;
	padding:0;
	border:2px solid #ccc;
	}

.container {
	position:relative;
	width:940px;
	padding:0;
	margin:0 auto;
	}
#corpo .container {
	padding-right:340px;
	width:600px;
	}
#menu {
	position:absolute;
	top:50px;
	right:15px;
	font-size:1.1em;
	text-transform:uppercase;
	}
#menu ul {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	}
#menu li {
	display:inline-block;
	position:relative;
	text-align:left;
	}
#menu li a {
	display:inline-block;
	padding:5px 10px;
	color:#333;
	text-decoration:none;
	font-weight:normal;
	line-height:1em;
	white-space:nowrap;
	-o-transition: background-color 0.3s ease-in-out 0s;
	-ms-transition: background-color 0.3s ease-in-out 0s;
	-webkit-transition: background-color 0.3s ease-in-out 0s;
	-moz-transition: background-color 0.3s ease-in-out 0s;
	transition: background-color 0.3s ease-in-out 0s;
	}
#menu li a:hover {
	color:#000;
	}
#menu li a.sel,#menu li a.ancestor{
	color:#1698ce;
	}

#menu li ul {
	position:absolute;
	top:25px;
	left:0;
	background-color:#fff;
	padding:0px 15px;
	min-width:90px;
	z-index:90;
	line-height:1.55em;
	-o-transition: height 0.4s ease-in-out 0s;
	-ms-transition: height 0.4s ease-in-out 0s;
	-webkit-transition: height 0.4s ease-in-out 0s;
	-moz-transition: height 0.4s ease-in-out 0s;
	transition: height 0.4s ease-in-out 0s;
	box-shadow:0 2px 5px 0 rgba(0,0,0,.2);
	font-size:.9em;
	text-transform:none;
	}
#menu li ul li {
	display:block;
	border:0;
	}
#menu li ul li.first {
	margin-top:10px;	
	}
#menu li ul li.last {
	margin-bottom:10px;	
	}
#menu li ul a {
	padding:2px 5px;
	}
#menu li ul a.sel {
	padding:2px 5px;
	border:0;
	}


#titleBox {
	position:absolute;
	top:0;
	left:0;
	width:926px;
	height:133px;
	background-position:center center;
	background-repeat:repeat;
	background-color:#d4d4d4;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	}
#titleBox .title {
	position:absolute;
	bottom:0;
	left:58px;
	width:460px;
	height:140px;
	background-color:#4d5256;
	}
#titleBox .bottom {
	position:absolute;
	bottom:0;
	left:0;
	padding:18px 26px;
	}
#titleBox h1 {
	margin:0;
	color:#fff;
	font-style:italic;
	}
#titleBox h2 {
	margin:0;
	color:#d4d4d4;
	font-style:italic;
	}
#titleBox .curve {
	width:926px;
	height:27px;
	background:url('../img/hcurve.png') bottom left repeat-x transparent;
	position:absolute;
	bottom:0;
	left:0;
	z-index:20;
	}

#contentsBox {
	width:410px;
	padding:0 0 20px 84px;
	}
#contentsBox .preview {
	color:#aaa;
	font-style:italic;
	font-size:1.2em;
	}

#photogalleryBox,#documentgalleryBox {
	width:410px;
	padding:0 0 20px 84px;
	}
#photogalleryBox a {
	display:inline-block;
	width:120px;
	height:120px;
	overflow:hidden;
	margin:0 13px 10px 0;
	}
#documentgalleryBox ul {
	margin:0;
	padding:0;
	list-style:none;
	}
#commentsBox {
	width:410px;
	padding:0 0 20px 84px;
	}
#newsForm {
	width:410px;
	padding:0 0 20px 84px;
	}
.alert {
	background-color:#ffc;
	padding:10px;
	text-align:center;
	}	

.form {
	background-color:#f0f0f0;
	padding:20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	}
.form input,.form textarea {
	font:1.2em Arial,Helvetica,Tahoma,Verdana,sans-serif;
	border:0;
	padding:2px 5px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background-color:#ddd;
	color:#aaa;
	}
.form input:focus,.form textarea:focus {
	background-color:#fff;
	color:#000;
	}
.form input {
	width:180px;
	margin-bottom:10px;
	}
.form textarea {
	width:180px;
	}
.form .privacyPolicy {
	font-size:.85em;
	}
.form .submit {
	text-align:center;
	}
.form input.submit {
	font:.9em Arial,Verdana,Helvetica,sans-serif;
	text-transform:uppercase;
	width:auto;
	padding:15px 25px;
	background-color:#4d5256;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
	}
.form input.submit:hover {
	background-color:#6d7276;
	}

#rightCol {
	position:absolute;
	top:160px;
	right:44px;
	width:300px;
	}

#footer {
	padding:10px 20px;
	font-size:.8em;
	color:#aaa;
	}
#footer p {
	margin:2px;
	padding:0;
	text-align:center;
	}
#footer a,#footer a:hover {
	color:#aaa;
	}
/* @end */


/* @group lightbuzz */
#lightBuzzIPopUpBkg {
	position:absolute;
	background:url('../img/loading.gif') center center no-repeat #000;
	top:0;
	left:0;
	width:100%;
	z-index:99;
	filter:alpha(opacity=70);
	-moz-opacity:.70;
	opacity:.70;
	}
#lightBuzzIPopUp {
	background-color:#fff;
	padding:3px;
	}
/* @end */


/* @group altro */
/* @end */


/* @group banner */
#inEvidenzaTabs a {
	display:inline-block;
	padding:3px 10px;
	color:#a9adb0;
	}
#inEvidenzaTabs a.sel {
	color:#4d5256;
	background:url('../img/sarrow.png') bottom center no-repeat transparent;
	}
#inEvidenza {
	background-color:#d4d4d4;
	border-top:4px solid #e7e7e7;
	border-bottom:4px solid #e7e7e7;
	}
#inEvidenza a {
	display:none;
	}
#inEvidenza a.sel {
	display:block;
	}
/* @end */

/* @group news */
.newsPreview {
	padding:5px;
	margin:10px 0;
	border:1px solid #fff;
	cursor:pointer;
	}
.newsPreview:hover {
	border:1px solid #eee;
	}
.newsPreview h2,.newsPreview p {
	margin:0;
	padding:0;
	}
.newsPreview .readmore {
	float:right;
	visibility:hidden;
	}
.newsPreview:hover .readmore {
	visibility:visible;
	}
#pager {
	width:410px;
	padding:10px 0 20px 84px;
	margin:10px 0;
	border-top:1px solid #eee;
	}
#pager .next {
	float:right;
	}
#pager .prev {
	float:left;
	}
#latestNews {
	padding:30px 0;
	font-size:.9em;
	line-height:1em;
	}
#latestNews ul {
	list-style:none;
	padding:6px 0;
	margin:0;
	}
#latestNews li {
	padding:6px 0;
	border-top:1px solid #eee;
	}
/* @end */


/* @group photogallery */
/* @end */
