/* 2008 Copyright Kalamun - GNU/GPL 3 */

/* @group init */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,cite,code,em,img,small,strike,strong,sub,sup,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td  {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background: transparent;
	}
html,body {
	width:100%;
	height:100%;
	}
body {
	line-height:1;
	}
ol,ul {
	padding-left:20px;
	margin:10px 0;
	}
blockquote {
	quotes: none;
	}
blockquote:before,blockquote:after {
	content:'';
	content:none;
	}
:focus {
	outline:0;
	}
table {
	border-style:none;
	border-collapse:separate;
	border-spacing:0;
	border:0;
	}
table td {
	padding:2px;
	}
img {
	behavior:url('iepngfix.htc');
	vertical-align:middle;
	border:0;
	}
/* @end */


/* @group typography */
@font-face {
	font-family: 'ChunkFiveRegular';
	src: url('Chunkfive-webfont.eot');
	src: local('☺'), url('Chunkfive-webfont.woff') format('woff'), url('Chunkfive-webfont.ttf') format('truetype'), url('Chunkfive-webfont.svg#webfontbMWZ83oH') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
	font:1em ChunkFiveRegular,Arial,Verdana,Helvetica,sans-serif;
	color:#000;
	margin:0;
	padding:0;
	font-weight:normal;
	line-height:1.3em;
	text-decoration:none;
	}
h1 {
	font-size:2em;
	}
h2 {
	font-size:1.6em;
	color:#888;
	margin-bottom:10px;
	}
h3 {
	font-size:1.4em;
	color:#888;
	margin:0;
	}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
	color:#000;
	text-decoration:none;
	}
p {
	margin:10px 0;
	}
img {
	border:0;
	vertical-align:middle;
	}
hr {
	height:1px;
	border:0;
	color:#f8f6f4;
	background-color:#f8f6f4;
	margin:10px 0 !important;
	margin:0;
	padding:0;
	}
a {
	color:#faa419;
	text-decoration:underline;
	}
a:hover {
	color:#faa419;
	text-decoration:underline;
	}
input {
	font:1em Georgia,Times,'Times New Roman',serif;
	}
.small {
	font-size:.85em;
	color:#555;
	}
/* @end */


/* @group layout */
body {
	padding:0;
	margin:0;
	background-color:#fff;
	color:#000;
	font:.8em Georgia,"Times New Roman",serif;
	letter-spacing:.02em;
	line-height:1.6em;
	text-align:left;
	}
#corpo {
	position:relative;
	width:970px;
	margin:0 auto;
	}
#header {
	position:relative;
	width:970px;
	height:265px;
	}
#header .titolo {
	position:absolute;
	top:80px;
	left:0;
	}
#header h1 {
	font-size:3em;
	padding:0;
	margin:0;
	color:#000;
	}
#header .autore {
	font-size:.9em;
	letter-spacing:2px;
	}
#header .libro {
	position:absolute;
	top:0;
	right:0;
	}
#payoff {
	font-size:1.2em;
	font-style:italic;
	}

#container {
	position:relative;
	width:970px;
	margin:0 auto;
	}
#menu {
	position:absolute;
	top:0;
	right:0;
	width:230px;
	}
#menu ul {
	font:1.2em ChunkFiveRegular,Arial,Verdana,Helvetica,sans-serif;
	margin:20px 0;
	padding:0;
	list-style:none;
	}
#menu li {
	position:relative;
	}
#menu li a {
	text-decoration:none;
	display:block;
	padding:3px 0;
	color:#000;
	}
#menu li a:hover {
	text-decoration:none;
	color:#faa419;
	}
#menu li a.sel {
	}
#menu li ul {
	display:none;
	}
#rss {
	position:relative;
	}
#rss img {
	position:absolute;
	top:0;
	left:0;
	}
#rss .link {
	padding-left:32px;
	font-size:.9em;
	font-style:italic;
	line-height:1em;
	}

#contenuto {
	float:left;
	width:700px;
	}

.box {
	margin:20px 0;
	padding:10px;
	background-color:#f0f0f0;
	font-size:.8em;
	}
.socials a {
	color:#888;
	text-decoration:none;
	}
.socials td {
	vertical-align:middle;
	line-height:1em;
	padding:0 10px;
	border-left:1px solid #ccc;
	}
.socials td.first {
	border:0;
	}

#linkToArch {
	width:700px;
	margin:30px 0;
	padding:30px 0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	}
#linkToArch a,#linkToArch a:hover {
	font:3em ChunkFiveRegular,Arial,Verdana,Helvetica,sans-serif;
	color:#aaa;
	font-weight:bold;
	text-decoration:none;
	}

#newsBox .trittico {
	width:200px;
	margin-right:30px;
	float:left;
	font-size:.85em;
	line-height:1.2em;
	color:#888;
	}
#newsForm {
	background-color:#f0f0f0;
	padding:10px 20px;
	margin-top:10px;
	}
#newsForm table {
	border:0;
	}
#newsForm input,#newsForm textarea {
	font-family:Arial,Verdana,sans-serif;
	font-size:1em;
	width:500px;
	border:1px solid #888;
	background-color:#fff;
	}
#newsForm textarea {
	height:100px;
	}
#newsForm td {
	vertical-align:top;
	padding:3px 6px;
	}
#newsForm td.submit {
	text-align:center;
	}
#newsForm td.submit input {
	text-align:center;
	background-color:#1d617a;
	color:#fff;
	width:150px;
	}
#newsComment {
	font-size:.9em;
	padding:4px 10px;
	}
#newsComment .data {
	float:right;
	font-size:.8em;
	color:#50380a;
	padding:7px 5px;
	}
#newsComment h3 {
	background-color:#d1c199;
	font-size:1.2em;
	padding:5px;
	}


#footer {
	font-size:.75em;
	line-height:1.2em;
	margin:0 auto;
	padding:10px 30px;
	text-align:right;
	width:970px;
	}
/* @end */


/* @group bettino */

#photogalleryBox,#documentgalleryBox {
	width:410px;
	padding:0 0 20px 0;
	}
#photogalleryBox a {
	display:inline-block;
	width:120px;
	height:120px;
	overflow:hidden;
	margin:0 13px 10px 0;
	}
#documentgalleryBox ul {
	margin:0;
	padding:0;
	list-style:none;
	}
.evidenza {
	margin:10px 0;
	padding:5px 10px;
	background-color:#f0f0f0;
	}
.form {
	background-color:#eee;
	margin:10px 0;
	padding:20px;
	}
.thumb {
	font-size:.85em;
	color:#888;
	padding:3px;
	background-color:#f0f0f0;
	margin:10px;
	text-align:center;
	}
.thumb p {
	margin:0;
	padding:0;
	}
.permalink {
	text-align:right;
	}
.image {
	margin:0 20px 20px 0;
	font-size:.9em;
	color:#888;
	font-style:italic;
	}
#banner,#menu #banner li a {
	font-size:.9em;
	color:#888;
	font-style:italic;
	font-weight:normal;
	}
/* @end */


/* @group news */
.newsPreview {
	padding:5px;
	margin:10px 0;
	cursor:pointer;
	}
.newsPreview:hover {
	background-color:#ffc;
	}
.newsPreview h2,.newsPreview p {
	margin:0;
	padding:0;
	}
.newsPreview .readmore {
	float:right;
	visibility:hidden;
	}
.newsPreview:hover .readmore {
	visibility:visible;
	}
#pager {
	width:410px;
	padding:10px 0 20px 84px;
	margin:10px 0;
	border-top:1px solid #eee;
	}
#pager .next {
	float:right;
	}
#pager .prev {
	float:left;
	}
#latestNews {
	padding:30px 0;
	font-size:.9em;
	line-height:1em;
	}
#latestNews ul {
	list-style:none;
	padding:6px 0;
	margin:0;
	}
#latestNews li {
	padding:6px 0;
	border-top:1px solid #eee;
	}
.tabs ul {
	margin:10px 0;
	padding:10px 0;
	font-size:1.8em;
	}
.tabs li {
	display:inline;
	position:relative;
	}
.tabs a {
	text-decoration:none;
	padding:5px 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#888;
	}
.tabs a.sel {
	text-decoration:none;
	background-color:#eee;
	color:#faa419;
	background-color:#000;
	}
.tabs a:hover,.tabs a.sel:hover {
	background-color:#ffc;
	}

/* @end */

/* @group lightbuzz */
#lightBuzzIPopUpBkg {
	position:absolute;
	background:url('../img/loading.gif') center center no-repeat #000;
	top:0;
	left:0;
	width:100%;
	z-index:99;
	filter:alpha(opacity=70);
	-moz-opacity:.70;
	opacity:.70;
	}
#lightBuzzIPopUp {
	background-color:#fff;
	padding:3px;
	}
/* @end */
