ul.dragdrop {
	width:300px;
	margin:0;
	padding:5px 10px;
	background-color:#f8f8f8;
	list-style:none;
	}

ul.dragdrop li {
	position:relative;
	padding:10px;
	margin:5px 0;
	background-color:#fff;
	border:1px solid #e8e6e4;
	cursor:move;
	}

ul.dragdrop li span {
	position:absolute;
	top:5px;
	right:5px;
	}

table.tabella td {
	padding:10px 15px;
	}
table.tabella {
	border:0;
	}
table.tabella h2 {
	font-size:1em;
	}
table.tabella h2 a {
	color:#000;
	font-weight:normal;
	}
table.tabella .percorso {
	background-color:#f0f0f0;
	font-size:.8em;
	}
table.tabella .percorso a {
	color:#888;
	}
.data {
	text-align:center;
	background-color:#fff;
	border:1px solid #ccc;
	padding:1px 3px;
	}
.data .giorno {
	color:#ca0000;
	font-size:1em;
	font-weight:bold;
	}
.data .ora {
	font-size:.8em;
	color:#888;
	}

table.catList {
	border-collapse:collapse;
	}
table.catList td {
	padding:3px;
	}
table.catList tr:hover {
	background-color:#ffc;
	}
.newCat {
	font-size:.8em;
	text-align:center;
	margin:3px 0;
	}
.newCat #nuovaCategoria {
	width:70px;
	}

table.calendario {
	width:100%;
	}
.calendario th {
	text-align:center;
	}
table.tabella.calendario td {
	padding:5px;
	}
.calendario td {
	width:14%;
	height:100px;
	border:1px solid #ccc;
	background:#fff;
	}
.calendario td.empty {
	background-color:#e0e0e0;
	}
.calendario .daynumber {
	color:#888;
	display:inline-block;
	margin-right:3px;
	border-right:1px solid #eee;
	padding:0 5px 0 0;
	}
.calendario small a {
	color:#ccc;
	}

table.tabella td, #drago  td {
	padding:10px 15px;
	}
table.tabella, #drago  {
	border:0;
	}
table.tabella h2, #drago  h2 {
	font-size:1em;
	}
table.tabella h2 a, #drago  h2 a {
	color:#000;
	font-weight:normal;
	}
table.tabella .percorso, #drago  .percorso {
	background-color:#f0f0f0;
	font-size:.8em;
	}
table.tabella .percorso a, #drago  .percorso a {
	color:#888;
	}
table.tabella .sposta, #drago  .sposta {
	background-color:#f0f0f0;
	color:#888;
	font-size:.8em;
	cursor:move;
	}

.newsArchive {
	clear:both;
	font-size:.8em;
	width:200px;
	list-style:none;
	padding:0;
	}
.newsArchive li {
	float:left;
	padding:0 3px;
	white-space:nowrap;
	}

.DragZone {
	width:60%;
	margin:0;
	padding:5px 10px;
	background-color:#f8f8f8;
	list-style:none;
	border:1px dashed transparent;
	}

.DragZone ul, #drago {
	list-style:none;
	padding:3px;
	min-height:5px;
	border:1px dashed transparent;
	margin:0 0 0 50px;
	}
#drago {
	margin:0;
	}
#drago li {
	list-style:none;
	}
.ondrag ul {
	border:1px dashed #ca0000;
	}


.DragZone .elm, #drago .elm {
	position:relative;
	padding:3px 15px;
	margin:3px 0;
	background-color:#fff;
	border:1px solid #e8e6e4;
	cursor:move;
	list-style:none;
	}
.DragZone .elm:hover {
	background-color:#ffc;
	}

.DragZone li span,#drago li span {
	position:absolute;
	top:5px;
	right:5px;
	}

.DragZone li.empty {
	padding:3px;
	background-color:#e8e6e4;
	}
