ul.dragdrop {
	width:300px;
	margin:0;
	padding:5px 10px;
	background-color:#f8f8f8;
	list-style:none;
	}

ul.dragdrop li {
	position:relative;
	padding:10px;
	margin:5px 0;
	background-color:#fff;
	border:1px solid #e8e6e4;
	cursor:move;
	}

ul.dragdrop li span {
	position:absolute;
	top:5px;
	right:5px;
	}

#pList {
	position:absolute;
	top:100px;
	left:100px;
	border:1px solid #888;
	background-color:#fff;
	padding:0;
	}
#pList ul {
	padding:0;
	margin:0;
	list-style:none;
	}
#pList li a {
	display:block;
	padding:2px 5px 2px 20px;
	border:1px solid;
	background:url('../img/page.gif') left center no-repeat #fff;
	}
.sfoglia {
	vertical-align:middle;
	}

table.tabella td {
	padding:10px 15px;
	}
table.tabella {
	border:0;
	}
table.tabella h2 {
	font-size:1em;
	}
table.tabella h2 a {
	color:#000;
	font-weight:normal;
	}
table.tabella .percorso {
	background-color:#f0f0f0;
	font-size:.8em;
	}
table.tabella .percorso a {
	color:#888;
	}
.data {
	text-align:center;
	background-color:#fff;
	border:1px solid #ccc;
	padding:1px 3px;
	}
.data .giorno {
	color:#ca0000;
	font-size:1em;
	font-weight:bold;
	}
.data .ora {
	font-size:.8em;
	color:#888;
	}

table.catList {
	border-collapse:collapse;
	width:100%;
	}
table.catList td {
	padding:3px;
	border-top:1px solid #f8f8f8;
	}
.newCat {
	font-size:.8em;
	text-align:center;
	margin:3px 0;
	}
.newCat #nuovaCategoria {
	width:70px;
	}


table.tabella td, #drago  td {
	padding:10px 15px;
	}
table.tabella, #drago  {
	border:0;
	}
table.tabella h2, #drago  h2 {
	font-size:1em;
	}
table.tabella h2 a, #drago  h2 a {
	color:#000;
	font-weight:normal;
	}
table.tabella .productcode, #drago  .productcode {
	font-weight:bold;
	}
table.tabella .percorso, #drago  .percorso {
	background-color:#f0f0f0;
	font-size:.8em;
	}
table.tabella .percorso a, #drago  .percorso a {
	color:#888;
	}
table.tabella .sposta, #drago  .sposta {
	background-color:#f0f0f0;
	color:#888;
	font-size:.8em;
	cursor:move;
	}

.box.price {
	}
.box.price input {
	text-align:right;
	font-size:2em;
	}
	
.payed,.shipped {
	color:#fff;
	padding:2px 10px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background-color:#888;
	font-size:.85em;
	}
.payed.n,.shipped.n {
	background-color:#ca0000;
	}
.payed.s,.shipped.s {
	background-color:#00ca00;
	}

table.transactions {
	width:100%;
	border:0;
	border-collapse:collapse;
	font-size:.8em;
	margin:10px 0;
	}
table.transactions th {
	background-color:#a3c5e5;
	padding:2px;
	}
table.transactions td {
	padding:2px;
	}

	
.reportPayment {
	background-color:#f0f0f0;
	padding:10px;
	margin:10px 0;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	}
.reportPayment table {
	margin:0 auto;
	}
.reportPayment #amount {
	text-align:right;
	}

table .sheetCell {
	width:48%;
	text-align:left;
	padding:0;
	margin:1%;
	padding-bottom:20px;
	}
table .sheetCell h2 {
	background-color:#333;
	color:#eee;
	text-align:left;
	padding:4px 10px;
	}

.privateDirs {
	list-style:none;
	}

.DragZone {
	width:60%;
	margin:0;
	padding:5px 10px;
	background-color:#f8f8f8;
	list-style:none;
	border:1px dashed transparent;
	}

.DragZone ul, #drago {
	list-style:none;
	padding:3px;
	min-height:5px;
	border:1px dashed transparent;
	margin:0 0 0 50px;
	}
#drago {
	margin:0;
	}
#drago li {
	list-style:none;
	}
.ondrag ul {
	border:1px dashed #ca0000;
	}

.DragZone .elm, #drago .elm {
	position:relative;
	padding:3px 15px;
	margin:3px 0;
	background-color:#fff;
	border:1px solid #e8e6e4;
	cursor:move;
	list-style:none;
	}
.DragZone .elm:hover {
	background-color:#ffc;
	}

.DragZone li span,#drago li span {
	position:absolute;
	top:5px;
	right:5px;
	}

.DragZone li.empty {
	padding:3px;
	background-color:#e8e6e4;
	}