<?xml version="1.0"?>
<adminMenu>
	<mainNode title="{Menu:Control Panel}" id="pdc">
		<subNode title="{Menu:Welcome}" id="." url="index.php" icon="">
		<subNode title="{Menu:Your Profile}" id="profilo" url="" icon="">
		<subNode title="{Menu:Visit your website}" id="{SITE_URL}" url="" icon="">
		<subNode title="{Menu:Logout}" id="./." url="?logout" icon="">
	</mainNode>
	<mainNode title="{Menu:Site Contents}" id="site">
		<subNode title="{Menu:Pages}" id="pages" url="" icon="">
		<subNode title="{Menu:News}" id="news" url="" icon="">
		<subNode title="{Menu:Photogallery}" id="photogallery" url="" icon="">
		<subNode title="{Menu:Shop}" id="shop" url="" icon="">
	</mainNode>
	<mainNode title="{Menu:Tools}" id="tools">
		<subNode title="{Menu:Members}" id="members" url="" icon="">
		<subNode title="{Menu:Private Area}" id="private" url="" icon="">
		<subNode title="{Menu:Newsletter}" id="newsletter" url="" icon="">
		<subNode title="{Menu:Tiny URLs}" id="shortURL" url="" icon="">
		<subNode title="{Menu:Banners}" id="banner" url="" icon="">
		<subNode title="{Menu:Repository}" id="repository" url="" icon="">
		<subNode title="{Menu:Statistics}" id="stats" url="" icon="">
	</mainNode>
	<mainNode title="{Menu:Setup}" id="setup">
		<subNode title="{Menu:Home Page}" id="home" url="" icon="">
		<subNode title="{Menu:Navigation Menu}" id="menu" url="" icon="">
		<subNode title="{Menu:Languages}" id="lingue" url="" icon="">
		<subNode title="{Menu:Dictionary}" id="dizionario" url="" icon="">
		<subNode title="{Menu:Activity Log}" id="log" url="" icon="">
		<subNode title="{Menu:Users}" id="users" url="" icon="">
		<subNode title="{Menu:Setup}" id="setup" url="" icon="">
		<subNode title="{Menu:Maintenance}" id="maintenance" url="" icon="">
	</mainNode>
</adminMenu>
