.stats {
	background-color:#f0f0f0;
	padding:4px;
	font-size:.85em;
	text-align:left;
	line-height:1.6em;
	}
.stats strong {
	font-weight:bold;
	color:#442;
	background-color:#ffc;
	padding:1px 3px;
	}
.statCols {
	width:22px;
	position:absolute;
	bottom:0px;
	color:#FFF;
	font-size:.5em;
	text-align:center;
	background-color:#eb0;
	}
.statCols.max {
	background-color:#0b0;
	}
.statCols.min {
	background-color:#b00;
	}
.statAvg {
	border-top:1px dashed #888;
	position:absolute;
	width:100%;
	height:1px;
	color:#888;
	text-align:right;
	font-size:.7em;
	}
.statDay {
	position:absolute;
	width:22px;
	text-align:center;
	font-size:.9em;
	background-color:#f0f0f0;
	border-left:1px solid #ddd;
	}
.statDay.domenica {
	font-weight:bold;
	color:#ca0000;
	}
.statsMonth {
	font-weight:bold;
	color:#888;
	text-transform:uppercase;
	font-size:.8em;
	}
.statWeekDay {
	background-color:#aaa;
	color:#fff;
	text-align:right;
	}
.d0 {
	color:#ca0000;
	font-weight:bold;
	}

.user {
	float:left;
	width:380px;
	height:180px;
	padding:10px;
	margin:10px;
	}
.user h4 {
	text-align:center;
	text-transform:uppercase;
	background-color:#fbf7c5;
	}

table.tabella td {
	padding:4px;
	}
table.tabella tr.even {
	background-color:#f0f0f0;
	}
table.tabella tr:hover {
	background-color:#ffc;
	}
table.tabella td.label {
	width:30%;
	}
table.tabella td.labelReferer {
	width:50%;
	}
table.tabella td.counter {
	width:10%;
	text-align:right;
	}
table.tabella a {
	display:block;
	}
table.tabella .graph {
	background-color:#416689;
	height:16px;
	}
table.substats {
	font-size:.9em;
	}
table.substats td {
	padding:1px 0 1px 10px;
	border-bottom:1px solid #eee;
	}
table.substats .graph {
	height:12px;
	}
	
#statsViewer {
	position:relative;
	background-color:#fff;
	padding:10px;
	border:1px solid #eee;
	width:100%;
	height:400px;
	overflow:auto;
	white-space:nowrap;
}
#statsViewer > div {
	position:relative;
	display:inline-block;
	margin:2px;
	height:80%;
	width:15px;
	text-align:center;
}
#statsViewer > div .views {
	position:absolute;
	bottom:0;
	left:0;
	background-color:#caca00;
	width:100%;
}