body,html {
	width:auto;
	height:auto;
	}

body {
	}

h1 {
	background-color:#416689;
	color:#fff;
	margin:0;
	padding:10px;
	text-align:left;
	font-size:1.2em;
	}
h2 {
	color:#416689;
	text-align:center;
	font-size:1.2em;
	}
img {
	vertical-align:middle;
	border:0;
	}
.closeWindow {
	position:absolute;
	top:5px;
	right:5px;
	padding:4px;
	background-color:#c2d8ed;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	line-height:0;
	}
.closeWindow:hover {
	background-color:#fff;
	}

.bkg {
	background-color:#f0f0f0;
	}

.empty {
	font-size:.8em;
	text-align:center;
	color:#888;
	}

.box {
	text-align:center;
	margin:5px;
	padding:3px;
	font-size:.8em;
	}
.box input {
	font-size:1em;
	}

.padding {
	padding:20px;
	}

