html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,cite,code,em,img,small,strike,strong,sub,sup,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td  {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background: transparent;
	}
html,body {
	width:100%;
	height:100%;
	}
body {
	line-height:1;
	font-size:12pt;
	}
ol,ul {
	padding-left:20px;
	}
blockquote {
	quotes: none;
	}
blockquote:before,blockquote:after {
	content:'';
	content:none;
	}
:focus {
	outline:0;
	}
table {
	border-style:none;
	border-collapse:separate;
	border-spacing:0;
	border:0;
	}
table td {
	padding:2px;
	vertical-align:top;
	}
img {
	vertical-align:middle;
	border:0;
	}
h1,h2,h3,h4,h5,h6 {
	font-weight:bold;
	margin:20px 0;
	padding:0;
	}
h1 {
	font-size:2em;
	}
h2 {
	font-size:1.6em;
	}
h3 {
	font-size:1.4em;
	}
h4 {
	font-size:1.3em;
	}
h5 {
	font-size:1.2em;
	}
h6 {
	font-size:1.1em;
	}
small {
	font-size:.8em;
	}
::-webkit-input-placeholder {
	color:#ccc;
	}
:-moz-placeholder { /* Firefox 18- */
	color:#ccc;  
	}
::-moz-placeholder {  /* Firefox 19+ */
	color:#ccc;  
	}
:-ms-input-placeholder {  
	color:#ccc;  
	}
::selection {
	background-color:#ffc;
	color:#440;
	}
::-moz-selection {
	background-color:#ffc;
	color:#440;
	}