/* typography */
@font-face {
    font-family: 'OpenSans';
    src: url('font/OpenSans-Regular-webfont.eot');
    src: url('font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Regular-webfont.woff') format('woff'),
         url('font/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'OpenSans';
    src: url('font/OpenSans-Semibold-webfont.eot');
    src: url('font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Semibold-webfont.woff') format('woff'),
         url('font/OpenSans-Semibold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
	}
@font-face {
    font-family: 'OpenSans';
    src: url('font/OpenSans-Italic-webfont.eot');
    src: url('font/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Italic-webfont.woff') format('woff'),
         url('font/OpenSans-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
	}
@font-face {
    font-family: 'OpenSans';
    src: url('font/OpenSans-SemiboldItalic-webfont.eot');
    src: url('font/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('font/OpenSans-SemiboldItalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
	}
body {
	background-color:#FFF;
	font:14px OpenSans,Arial,Verdana,sans-serif;
	padding:20px;
	margin:0;
	}
p,div,ul,ol,li,blockquote,h1,h2,h3,h4,h5,h6 {
	min-height:1em;
	position:relative;
	}
p:first-child,h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child {
	margin-top:0;
	}
p:hover,div:hover,ul:hover,ol:hover,li:hover,blockquote:hover,h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover {
	box-shadow:0 0 1px 0 #f00;
	}
p:hover:before,
div:hover:before,
ul:hover:before,
ol:hover:before,
li:hover:before,
blockquote:hover:before,
h1:hover:before,
h2:hover:before,
h3:hover:before,
h4:hover:before,
h5:hover:before,
h6:hover:before
{
	position:absolute;
	top:0;
	right:100%;
	color:#fff;
	background-color:#f00;
	padding:1px 3px;
	font-size:.6em;
	opacity:.8;
	}
p:hover:before { content:'P'; }
div:hover:before { content:'DIV'; }
ul:hover:before { content:'UL'; }
ol:hover:before { content:'OL'; }
li:hover:before { content:'LI'; }
blockquote:hover:before { content:'Blockquote'; }
h1:hover:before { content:'H1'; }
h2:hover:before { content:'H2'; }
h3:hover:before { content:'H3'; }
h4:hover:before { content:'H4'; }
h5:hover:before { content:'H5'; }
h6:hover:before { content:'H6'; }

h1,h2,h3,h4,h5,h6 {
	margin-top:40px;
	color:#416689;
	}
table,table td {
	border:1px dotted #888;
	min-height:1em;
	min-width:30px;
	}
table td {
	min-width:30px;
	height:16px;
	}
blockquote {
	position:relative;
	color:#aaa;
	padding:10px 10px 10px 30px;
	}
blockquote:before {
	content:'“';
	position:absolute;
	top:15px;
	left:0;
	font-size:2em;
	}
.alignleft {
	text-align:left;
	}
.alignright {
	text-align:right;
	}
.aligncenter {
	text-align:center;
	}
.alignjustify {
	text-align:justify;
	}
img.alignleft {
	float:left;
	margin:0 20px 10px 0;
	}
img.alignright {
	float:right;
	margin:0 0 10px 20px;
	}
img {
	position:relative;
	z-index:200;
	}
