/* 2016 Copyright Kalamun - GNU/GPL 3 */

/* INIT */
* {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background: transparent;
	box-sizing:border-box;
	}
html,body {
	width:100%;
	height:100%;
	}
body {
	line-height:1;
	font-size:15pt;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth:always;
	}
ol,ul {
	padding-left:2em;
	}
li {
	margin:.3em;
	}
blockquote {
	quotes: none;
	}
blockquote:before,blockquote:after {
	content:'';
	content:none;
	}
:focus {
	outline:0;
	}
table {
	border-style:none;
	border-collapse:separate;
	border-spacing:0;
	border:0;
	}
table td {
	padding:2px;
	vertical-align:top;
	}
img {
	vertical-align:middle;
	border:0;
	opacity:1;
	transition:opacity .3s ease-in;
	}
img.loaded {
	opacity:1;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:bold;
	margin:20px 0;
	padding:0;
	}
h1 {
	font-size:2em;
	}
h2 {
	font-size:1.6em;
	}
h3 {
	font-size:1.4em;
	}
h4 {
	font-size:1.3em;
	}
h5 {
	font-size:1.2em;
	}
h6 {
	font-size:1.1em;
	}
p {
	margin:.8em 0;
	}
small {
	font-size:.85em;
	}
iframe {
	max-width:100%;
	}

/* typography */
@font-face {
    font-family: 'OpenSans';
    src: url('font/opensans-regular-webfont-wf.eot');
    src: url('font/opensans-regular-webfont-wf.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-regular-webfont-wf.woff2') format('woff2'),
         url('font/opensans-regular-webfont-wf.woff') format('woff'),
         url('font/opensans-regular-webfont-wf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('font/opensans-semibold-webfont-wf.eot');
    src: url('font/opensans-semibold-webfont-wf.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-semibold-webfont-wf.woff2') format('woff2'),
         url('font/opensans-semibold-webfont-wf.woff') format('woff'),
         url('font/opensans-semibold-webfont-wf.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('font/opensans-italic-webfont-wf.eot');
    src: url('font/opensans-italic-webfont-wf.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-italic-webfont-wf.woff2') format('woff2'),
         url('font/opensans-italic-webfont-wf.woff') format('woff'),
         url('font/opensans-italic-webfont-wf.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
    src: url('font/opensans-semibolditalic-webfont-wf.eot');
    src: url('font/opensans-semibolditalic-webfont-wf.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-semibolditalic-webfont-wf.woff2') format('woff2'),
         url('font/opensans-semibolditalic-webfont-wf.woff') format('woff'),
         url('font/opensans-semibolditalic-webfont-wf.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
  font-family: 'icons';
  src: url('font/fontello.eot?2766887');
  src: url('font/fontello.eot?2766887#iefix') format('embedded-opentype'),
       url('font/fontello.woff?2766887') format('woff'),
       url('font/fontello.ttf?2766887') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 
.icon {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  margin-right: .2em;
  margin-left: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 


/**/
body {
	font-family:OpenSans,Arial,Helvetica,sans-serif;
	font-size:12px;
	line-height:15px;
	background-color:#f9f9f8;
	color:#000;
	margin:0;
	padding:0;
	text-align: left;
	}
.pageCenter {
	position:fixed;
	top:50%;
	left:50%;
	width:0;
	height:0;
	}

/* box del login */
#login {
	position:absolute;
	top:-200px;
	left:-170px;
	margin:20px auto;
	padding:20px;
	background-color:#eee;
	width:300px;
	border-radius:5px;
	}
#login .orichalcum {
	position:absolute;
	top:-30px;
	left:25px;
	opacity:.5;
	}
#login .orichalcum:hover {
	opacity:1;
	}
#login .orichalcum a {
	display:inline-block;
	color:#888;
	padding:5px 0 5px 25px;
	background:url('../img/orichalcum_logo.png') left center no-repeat transparent;
	}
#login label {
	display:inline-block;
	margin:5px 10px;
	}
#login input {
	vertical-align:middle;
	}
#login input[type=text],#login input[type=password] {
	font-size:2em;
	width:250px;
	padding-left:40px;
	background-position:5px 5px;
	background-repeat:no-repeat;
	}
#login #orichalcum_admin_username {
	background-image:url('../img/user25.png');
	}
#login #orichalcum_admin_password {
	background-image:url('../img/password25.png');
	}
#login .remember {
	text-align:center;
	}
#login .submit {
	background-color:transparent;
	}
#login input[type=submit] {
	font-size:2em;
	}


/* header */
header {
	background-color:#343231;
	padding:10px;
	color:#ccc;
	}
header h1 {
	margin:0;
	font-size:large;
	color:#fff;
	display:inline;
	}
header h1 .icon {
	font-size:1.2em;
	vertical-align:middle;
	line-height:0;
}
header a {
	color:#fff;
	}
header .logout {
	position:absolute;
	top:3px;
	right:3px;
	font-size:0.85em;
	color:#fff;
	}
header .logout .icon {
	border-radius:50%;
	width:1.2em;
	height:1.2em;
	font-size:1.2em;
	line-height:1em;
	background-color:#eee;
	color:#444;
	margin:7px;
	vertical-align:middle;
	}

/* menu */	
#menu {
	font-family:OpenSans,Arial,Helvetica,sans-serif;
	position:relative;
	background:#416689;
	z-index:500;
	}
#menu.fixed {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	}
#menu ul {
	margin:0;
	padding:0 5px;
	list-style:none;
	}
#menu li {
	position:relative;
	padding:0;
	margin-right:5px;
	display:inline-block;
	}
#menu a {
	text-decoration:none;
	color:#a3c5e5;
	padding:7px 10px 6px 10px;
	border-radius:5px;
	display:block;
	cursor:default;
	font-size:1.1em;
	}
#menu li:hover a,#menu li:hover a.sel {
	color:#fff;
	background:#343231;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	}
#menu a.sel {
	color:#fff;
	background-color:#5e8eb2;
	}
#menu ul ul {
	position:absolute;
	top:100%;
	left:0;
	padding:5px;
	min-width:150px;
	border-radius:5px;
	border-top-left-radius:0;
	z-index:150;
	background-color:#343231;
	display:none;
	box-shadow:0 2px 5px -3px rgba(0,0,0,.3);
	}
#menu ul li:hover ul {
	display:block;
	}
#menu ul ul a {
	display:block;
	margin:2px 0;
	padding:2px 10px 2px 0;
	}
#menu ul a .icon {
	display:inline-block;
	color:#aaa;
	padding:5px;
	width:2em;
	margin-right:5px;
	margin-left:0;
}
#menu ul li ul li {
	display:block;
	white-space:nowrap;
	margin:0;
	}
#menu ul li:hover ul li a {
	cursor:pointer;
	border:0;
	color:#eee;
	border-radius:5px;
	}
#menu ul li:hover ul li a:hover {
	background-color:#666;
	color:#fff;
	}
#menu ul li:hover ul li a.sel {
	border:0;
	color:#fff;
	background-color:#416689;
	border-radius:5px;
	}
#menu ul li:hover ul li a:hover .icon,
#menu ul li:hover ul li a.sel .icon {
	color:#fff;
}
#menu .languages {
	font-size:.85em;
	color:#a3c5e5;
	position:absolute;
	right:0;
	padding:6px 4px 0 0;
	border:0;
	z-index:10;
	}
#menu .languages ul {
	display:inline-block;
	}
#menu .languages li {
	display:inline-block;
	}
#menu .languages a {
	padding:0 5px;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	}
#menu .languages a:hover {
	color:#fff;
	}
#menu .languages a.sel {
	background-color:#5e8eb2;
	border:0;
	padding:2px 5px;
	color:#fff;
	}

/* upload manager menus */
.smenu {
	background:#5e8eb2;
	border-bottom:1px solid #416689;
	}
.smenu.sel {
	background:#fbf7c5;
	border-bottom:1px solid #eae2ab;
	}
.smenu ul {
	margin:0;
	padding:5px 5px 0 5px;
	}
.smenu li {
	display:inline-block;
	list-style:none;
	padding:0;
	margin:0;
	margin-bottom:-1px;
	}
.smenu a {
	display:inline-block;
	text-decoration:none;
	padding:5px 10px;
	color:#fff;
	border:1px solid transparent;
	}
.smenu a:hover {
	background-color:#416689;
	padding:2px 10px;
	color:#fff;
	border-radius:5px;
	}
.smenu.sel a {
	color:#857737;
	padding:2px 6px;
	margin:2px;
	}
.smenu.sel a:hover {
	background-color:#fff;
	color:#857737;
	border-radius:5px;
	}
.smenu a.sel:hover {
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	}
.smenu a.sel {
	padding:3px 10px 6px 10px;
	margin:0;
	color:#000;
	background:#f9f9f8;
	border:1px solid #eae2ab;
	border-bottom:0;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	}


/* tab */
.tab {
	font-family:OpenSans,Arial,Helvetica,sans-serif;
	}
.tab dl {
	list-style:none;
	border-bottom:1px solid #e8e8e8;
	margin:10px 0 20px 0;
	padding:7px 8px 0px 8px;
	background-color:#f0f0f0;
	}
.tab dt {
	position:relative;
	margin:0;
	display:inline-block;
	}
.tab a {
	display:inline-block;
	text-decoration:none;
	padding:7px;
	margin-bottom:-1px;
	}
.tab a.sel {
	background:#faf9f8;
	border:1px solid #e0e0e0;
	border-bottom:1px solid #faf9f8;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	}
.tab dt.haveActions a.sel {
	padding-right:20px;
	}
.tab a.actions {
	position:absolute;
	top:-3px;
	right:0;
	opacity:.5;
	}
.tab a.actions:hover {
	opacity:1;
	}

/* pagina contenuti */
#contents {
	position:relative;
	margin:0;
	padding:20px 20px 40px 170px;
	min-height:500px;
	height:auto !important;
	height:500px;
	clear:both;
	}

#submenu {
	position:absolute;
	left:0px;
	top:20px;
	padding:0;
	width:130px;
	color:#aaa;
	}
#submenu ul {
	font-size:.8em;
	list-style:none;
	}
#submenu ul a {
	color:#aaa;
	}
#submenu ul a.sel {
	color:#444;
	}
#submenu .submenu {
	margin-bottom:20px;
	}
#submenu .submenu ul {
	padding:0;
	margin:0;
	list-style:none;
	font-size:.85em;
	}
#submenu .submenu ul li {
	text-transform:uppercase;
	}
#submenu .submenu h2 {
	background-color:#416689;
	color:#fff;
	border:#ddd;
	font-size:10px;
	line-height:12px;
	padding:4px 14px;
	}
#submenu .submenu dl {
	margin:0;
	padding:10px 0 10px 10px;
	list-style:none;
	background-color:#f0f0f0;
	font-size:1.1em;
	}
#submenu .submenu dt {
	padding:0;
	margin:2px 0;
	line-height:1em;
	}
#submenu .submenu a {
	display:block;
	padding:4px;
	color:#888;
	margin-right:5px;
	text-transform:none;
	text-align:left;
	background-color:transparent;
	border:none;
	}
#submenu .submenu a.sel {
	color:#000;
	background-color:transparent;
	}
#submenu a:hover {
	color:#000;
	}

#contents h1 {
	color:#343231;
	}
#contents h2 {
	margin:0px;
	}

.siteboard .homeicons {
	width:35%;
	float:left;
	}
.homeicon {
	display:block;
	margin:5px 0;
	border:1px solid #eee;
	border-radius:5px;
	background-color:#fff;
	text-align:left;
	font-size:16px;
	}
.homeicon a {
	display:block;
	padding:10px 10px;
	color:#444;
	}
.homeicon a .icon {
	font-size:1.2em;
	width:1.5em;
	margin:10px;
	color:#aaa;
	}
.homeicon a:hover .icon {
	color:inherit;
	}
.siteboard .sitenotes {
	width:60%;
	padding:2%;
	float:right;
	margin:5px 0;
	border:1px solid #eee;
	border-radius:5px;
	background-color:#fff;
	text-align:left;
	font-size:12px;
	height:700px;
	overflow:auto;
	color:#444;
	}
#contents .siteboard .sitenotes h1:first-child {
	margin-top:0;
	}
#contents .siteboard .sitenotes h1,
#contents .siteboard .sitenotes h2,
#contents .siteboard .sitenotes h3,
#contents .siteboard .sitenotes h4,
#contents .siteboard .sitenotes h5,
#contents .siteboard .sitenotes h6
	{
	margin:20px 0 5px 0;
	color:#416689;
	font-weight:bold;
	}
#lastTwit {
	color:#416689;
	background-color:#c2d8ed;
	padding:5px;
	margin:0 0 30px 0;
	border-radius:5px;
	text-align:center;
	}

img {
	border:0;
	}

h1 {
	font-family:OpenSans,Arial,Helvetica,sans-serif;
	font-weight:normal;
	margin:0px;
	font-size:large;
	color:#fff;
	}
h2 {
	font-family:OpenSans,Arial,Helvetica,sans-serif;
	font-weight:normal;
	margin:0px;
	font-size:medium;
	color:#000;
	}
h3 {
	font-family:OpenSans,Arial,Helvetica,sans-serif;
	font-weight:normal;
	margin:0px;
	font-size:small;
	color:#888;
	}

#MsgSuccess {
	font-family:OpenSans,Arial,Helvetica,sans-serif;
	position:absolute;
	display:none;
	color:#140;
	font-weight:bold;
	font-size:medium;
	border:1px solid #480;
	background-color:#EFD;
	padding:10px;
	margin:10px;
	}
#MsgAlert {
	font-family:OpenSans,Arial,Helvetica,sans-serif;
	position:absolute;
	display:none;
	width:80%;
	color:#410;
	font-weight:bold;
	font-size:medium;
	border:1px solid #840;
	background-color:#FED;
	padding:10px;
	margin:10px;
	}
#MsgNeutral {
	font-family:OpenSans,Arial,Helvetica,sans-serif;
	position:absolute;
	display:none;
	width:80%;
	color:#444;
	font-weight:bold;
	font-size:medium;
	border:1px solid #ccc;
	background-color:#eee;
	padding:10px;
	margin:10px;
	}

.title {
	font-size:1.8em;
	line-height:1.3em;
	}
.URLBox {
	font-size:.8em;
	}
.URLBox label {
	color:#888;
	}
.URLBox input {
	color:#888;
	border:0;
	padding:1px;
	background-color:#fbf7c5;
	}
#featuredImageContainer img {
	width:100%;
	height:auto;
	}
.box {
	background-color:#f0f0f0;
	padding:5px;
	border:0;
	border-radius:5px;
	}
.box.closed {
	padding-left:20px;
	background:url('../img/boxClosed.gif') 5px 5px no-repeat #f0f0f0;
	height:24px;
	overflow:hidden;
	margin:2px 0;
	}
.box.opened {
	padding-left:20px;
	background:url('../img/boxOpened.gif') 5px 5px no-repeat #f0f0f0;
	margin:2px 0;
	}
.box.closed h2, .box.opened h2 {
	position:relative;
	left:-20px;
	font-size:.8em;
	color:#888;
	text-transform:uppercase;
	padding:0 0 10px 20px;
	cursor:pointer;
	}
.box.pager a {
	display:inline-block;
	padding:2px 5px;
	}
.box.pager a.selected {
	background-color:#ffc;
	}
.help {
	font-size:.8em;
	background-color:#fbf7c5;
	padding:10px;
	color:#664;
	}
.delete,.delete:hover {
	color:#ca0000;
	}
.allegato, .attachments {
	clear:both;
	border-top:1px solid #ccc;
	padding:5px 0;
	}
	
#photogallery {
	}
#photogallery .imagecontainer {
	position:relative;
	display:inline-block;
	margin:8px;
	width:150px;
	height:150px;
	background-color:#f0f0f0;
	border:2px solid #fff;
	box-shadow:0 0 0 2px #eee;
	}
#photogallery .imagecontainer.onDrag {
	opacity:.5;
	border:2px dashed #000;
	}
#photogallery .image {
	width:150px;
	height:150px;
	background-size:cover;
	background-position:center center;
	background-color:#f0f0f0;
	cursor:grab;
	transition:opacity .3s linear;
	}
#photogallery .imagecontainer h3 {
	position:absolute;
	font-size:.8em;
	bottom:10px;
	left:10px;
	right:10px;
	padding:5px;
	background:#000;
	color:#fff;
	text-align:center;
	word-wrap:break-word;
	display:none;
	cursor:pointer;
	}
#photogallery .imagecontainer:hover h3 {
	display:block;
	}
#photogallery .imagecontainer .edit {
	position:absolute;
	font-size:.8em;
	top:10px;
	right:47px;
	padding:5px;
	background:url('../img/edit_w.png') center center no-repeat #000;
	color:transparent;
	display:none;
	cursor:pointer;
	z-index:10;
	width:24px;
	height:24px;
	overflow:hidden;
	box-shadow:0 0 3px #fff;
	}
#photogallery .imagecontainer:hover .edit {
	display:block;
	}
#photogalleryList {
	display:none;
	}

#photogallery .imagecontainer .remove {
	position:absolute;
	font-size:.8em;
	top:10px;
	right:10px;
	padding:5px;
	background:url('../img/delete_w.png') center center no-repeat #ca0000;
	color:transparent;
	display:none;
	cursor:pointer;
	z-index:10;
	width:24px;
	height:24px;
	overflow:hidden;
	box-shadow:0 0 3px #fff;
	}
#photogallery .imagecontainer:hover .remove {
	display:block;
	}

.topset {
	position:relative;
	padding-right:220px;
	}
.subset {
	position:relative;
	float:right;
	width:200px;
	color:#888;
	z-index:80;
	}
.subset fieldset {
	width:190px;
	}

hr {
	border:0;
	margin:10px 0;
	width:100%;
	height:1px;
	color:#CCC;
	background-color:#CCC;
	}

label,legend {
	color:#888;
	font-size:.85em;
	font-weight:bold;
	}
	
a {
	color:#4e7ea2;
	text-decoration:none;
	}
a:hover {
	color:#4e7ea2;
	text-decoration:none;
	}

table.tabella {
	background-color:#fff;
	border-spacing:0;
	border-collapse:collapse;
	}
table.tabella th {
	background-color:#343231;
	color:#eee;
	cursor:default;
	padding:3px 12px;
	font-size:.85em;
	margin:0;
	white-space:nowrap;
	text-align:center;
	vertical-align:middle;
	}
table.tabella th a {
	color:#FBF7C5;
	}
table.tabella td {
	border-bottom:1px solid #f0f0f0;
	padding:8px 12px;
	margin:0;
	}
table.tabella tr {
	background-color:#fff;
	}
table.tabella tr:hover {
	background-color:#fbf7c5;
	}
table.tabella.hidebuttons .smallbutton,table.tabella.hidebuttons .smallalertbutton {
	visibility:hidden;
	}
table.tabella.hidebuttons tr:hover .smallbutton,table.tabella.hidebuttons tr:hover .smallalertbutton {
	visibility:visible;
	}
table.tabella td.move,
#drago .move {
	vertical-align:middle;
	text-align:center;
	background-color:#f0f0f0;
	}
table.tabella .title {
	color:#000;
	font-size:1.5em;
	}
table.tabella .url {
	color:#888;
	font-size:.75em;
	}
table.tabella .date {
	padding-top:5px;
	}
table.tabella .date .day {
	padding-left:15px;
	min-height:12px;
	background:url('../img/date.png') top left no-repeat transparent;
	color:#999;
	font-size:.9em;
	}
table.tabella .date .time {
	padding-left:15px;
	min-height:12px;
	background:url('../img/time.png') top left no-repeat transparent;
	color:#999;
	font-size:.9em;
	}
table.tabella .featuredimage .container {
	width:50px;
	height:50px;
	overflow:hidden;
	}
table.tabella .featuredimage .container img {
	width:100%;
	}
table.tabella .price {
	text-align:right;
	background-color:#f0f0f0;
	vertical-align:middle;
	white-space:nowrap;
	}
table.tabella tr:hover .price {
	background-color:#eeb;
	}
table.tabella .grip,
#drago .grip
{
	display:inline-block;
	width:12px;
	height:12px;
	padding:5px;
	background:url('../img/grip.png') center center no-repeat transparent;
	cursor:grab;
	color:transparent;
	overflow:hidden;
	}
table.tabella tr:hover .move {
	background-color:#ebe7b5;
	}

table.options {
	background-color:#f0f0f0;
	border-spacing:0;
	border-collapse:collapse;
	width:100%;
	}
table.options tr {
	border-top:2px solid #f8f8f8;
	}
table.options tr tr {
	border:0;
	}
table.options th,table.options td {
	padding:8px;
	}
table.options th {
	background-color:#e0e0e0;
	border-right:1px solid #ddd;
	text-align:right;
	font-weight:normal;
	}
table.options h2 {
	color:#888;
	margin:0;
	}

ul.catList,ul.catList ul {
	list-style:none;
	margin:0;
	padding:0;
	}
ul.catList ul {
	padding:0 0 0 15px;
	}
ul.catList li {
	background-color:#eee;
	position:relative;
	margin:2px 0;
	padding:2px;
	}
ul.catList li label {
	padding-right:14px;
	}

input,select,textarea,.RichContainer iframe {
	border:1px solid #eee;
	font-size:1em;
	background-color:#fff;
	box-shadow:0 1px 0 0 rgba(255,255,255,1);
	font-family:'OpenSans',Arial,sans-serif;
    }
input:focus,select:focus,textarea:focus,.RichContainer iframe:focus {
	box-shadow:0 1px 4px -1px rgba(0,0,0,.1);
	border-bottom:1px solid #298FDA;
	}
input,textarea.arial {
	padding:2px 5px;
	}
textarea {
	font-size:1em;
	font-family:"Courier New",Courier,fixed;
	resize:none;
	}
textarea.arial {
	font-family:Arial,sans-serif;
	}
iframe {
	border:0;
	}
.button,.alertbutton,.smallbutton,.smallalertbutton {
	display:inline-block;
	border:0;
	border-radius:5px;
	color:#eee;
	font-size:.9em;
	cursor:pointer;
	margin:1px;
	background-color:#343231;
    background:linear-gradient( #33A0E8, #2180CE) repeat scroll 0 0 transparent;
    border:1px solid;
    border-color:#2270AB #18639A #0F568B;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 0 #83C5F1 inset;
    text-shadow:0 1px 2px #355782;
	}
.button[disabled],.alertbutton[disabled],.smallbutton[disabled],.smallalertbutton[disabled],.button[disabled]:hover,.alertbutton[disabled]:hover,.smallbutton[disabled]:hover,.smallalertbutton[disabled]:hover {
	background-color:#aaa;
	color:#666;
	text-shadow:none;
    background:linear-gradient( #aaa, #888) repeat scroll 0 0 transparent;
    border-color:#888 #666 #444;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.3) inset;
    cursor:default;
	}
.button,.alertbutton {
	padding:7px 15px;
	}
.smallbutton,.smallalertbutton {
	padding:1px 5px;
	font-size:.85em;
	}
.alertbutton,.smallalertbutton {
	background-color:#ca0000;
    background:linear-gradient( #ca0000, #800) repeat scroll 0 0 transparent;
    border-color:#a00 #800 #500;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 0 #e55 inset;
	}
.alertbutton:hover,.smallalertbutton:hover {
	background-color:#f00;
	color:#fff;
	box-shadow: 0 0 3px 3px #fff;
	}
.button:hover,.smallbutton:hover {
	background-color:#444241;
	color:#fff;
	box-shadow: 0 0 3px 3px #fff;
	}
.button.light,.smallbutton.light {
	background-color:#ccc;
	}
.button.light:hover,.smallbutton.light:hover {
	background-color:#747271;
	}
.submit .button,.submit .alertbutton {
	font-size:1.25em;
	}

.small,small {
	font-size:x-small;
	color:#888;
	}
small.alert {
	color:#fff;
	background-color:#ca0000;
	padding:0px 4px;
	border-radius:3px;
	}
small .warning {
	color:#ca0000;
	}
table tr small.actions {
	display:block;
	visibility:hidden;
	}
table tr:hover small.actions {
	visibility:visible;
	}

.relative {
	position:relative;
	}
.chginput {
	width:350px;
	position:absolute;
	top:-2px;
	left:0px;
	background:#f9f9f8;
	border:1px solid #000;
	padding:10px;
	display:none;
	}
.chginput .fumetto {
	position:absolute;
	top:4px;
	left:-5px;
	}
.chginput input[type=submit] {
	padding:0;
	}

.submit {
	background-color:#fbf7c5;
	padding:5px;
	text-align:center;
	border-radius:5px;
	}

.draft {
	background-color:#ca0000;
	padding:2px 5px;
	border-radius:3px;
	display:inline-block;
	color:#fff;
	}
.draft input {
	vertical-align:middle;
	}
.draft label {
	color:#fff;
	vertical-align:middle;
	}

ul.mainopt {
	font-family:OpenSans,Arial,Helvetica,sans-serif;
	list-style:none;
	margin:30px 100px;
	padding:0;
	}
ul.mainopt li {
	margin:5px;
	}
ul.mainopt a {
	display:block;
	background-color:#fbf7c5;
	border:1px solid #eae2ab;
	vertical-align:middle;
	padding:10px;
	font-size:medium;
	border-radius:5px;
	}
	
li.commento {
	background-color:#fbf7c5;
	color:#440;
	padding:10px;
	margin:10px 0 0 0;
	}
li.commento p {
	margin:0;
	padding:0;
	}

.comment {
	padding:10px;
	margin:2px 0;
	background-color:#fff;
	}
.comment.disapproved {
	background-color:#fcc;
	border-left:3px solid #f00;
	padding-left:5px;
	}
.comment .actions {
	visibility:hidden;
	}
.comment:hover .actions {
	visibility:visible;
	}

.chiave {
	color:#440;
	background-color:#fbf7c5;
	}

/* upload */
iframe.imgframe {
	width:100%;
	min-height:50px;
	border:0;
	background-color:#f0f0f0;
	}
iframe.videoframe {
	width:100%;
	min-height:50px;
	border:0;
	background-color:#f0f0f0;
	}
iframe.docsframe {
	width:100%;
	min-height:50px;
	border:0;
	background-color:#f0f0f0;
	}
#iframeWindow {
	background:#f9f9f8;
	border:0;
	overflow:hidden;
	z-index:610;
	position:fixed;
	}
#iframeWindow iframe {
	width:100%;
	height:100%;
	}
#iPopUpWindow {
	background:#f9f9f8;
	border:0;
	overflow:auto;
	}
#iframeWindowBkg {
	position:absolute;
	background-color:#000;
	top:0;
	left:0;
	width:100%;
	z-index:600;
	opacity:.7;
	}
#iPopUpHeader {
	background-color:#416689;
	color:#fff;
	margin:0;
	padding:10px;
	text-align:left;
	font-size:1.2em;
	}
#iPopUpHeader .closeWindow {
	position:absolute;
	top:5px;
	right:5px;
	padding:4px;
	background-color:#c2d8ed;
	border-radius:5px;
	line-height:0;
	}
#iPopUpHeader .closeWindow:hover {
	background-color:#fff;
	}

#kBaloon {
	position:absolute;
	background-color:#fff;
	border:5px solid #a3c5e5;
	padding:10px;
	width:180px;
	height:auto !important;
	height:80px;
	min-height:80px;
	border-radius:5px;
	z-index:90;
	font-size:.9em;
	}
#kBaloon .arrow {
	position:absolute;
	bottom:-13px;
	left:85px;
	width:30px;
	height:13px;
	background:url('../img/baloonArrow.png') bottom center no-repeat transparent;
	}
#kBaloon h1,#kBaloon h2,#kBaloon h3,#kBaloon h4 {
	color:#416689;
	font-weight:normal;
	}
#kBaloon h1 {
	font-size:1.2em;
	}
#kBaloon h2 {
	font-size:1.1em;
	}
#kBaloon h3,#kBaloon h4 {
	font-size:1.0em;
	}

.note {
	font-size:.9em;
	background-color:#fbf7c5;
	margin:5px;
	padding:5px;
	color:#884;
	text-align:center;
	}
.alert {
	font-size:.9em;
	background-color:#ca0000;
	padding:5px;
	color:#fff;
	text-align:center;
	}
.alert h1,.alert h2,.alert h3,.alert h4,.alert h5,.alert h6 {
	color:#FBF7C5;
	}
.success {
	font-size:.9em;
	background-color:#00ca00;
	padding:5px;
	color:#fff;
	text-align:center;
	}

.metadataList {
	border-width:0;
	border-spacing:0;
	border-collapse: collapse;
	}
.metadataList th {
	background-color:#eee;
	padding:2px;
	color:#888;
	font-size:.8em;
	}
.metadataList td {
	background-color:#fff;
	padding:2px;
	margin:0;
	border-top:1px solid #ccc;
	}

/* suggestions */
.suggestionsContainer {
	position:relative;
	}
ul.suggestions {
	position:absolute;
	left:0;
	background-color:#fff;
	box-shadow:0px 0 2px 2px rgba(0,0,0,.2);
	list-style:none;
	padding:0;
	margin:0;
	line-height:1em;
	z-index:100;
	}
ul.suggestions li {
	list-style:none;
	padding:3px 10px;
	cursor:pointer;
	}
ul.suggestions li:hover,ul.suggestions li.sel {
	background-color:#ffc;
	}
.suggestionsClear {
	cursor:pointer;
	}

/* frames */
.frameheader {
	}
.padding {
	padding:30px;
	}

