body,html {
	width:auto;
	height:auto;
	}

body {
	}

h1 {
	background-color:#416689;
	color:#fff;
	margin:0;
	padding:10px;
	text-align:left;
	font-size:1.2em;
	}
h2 {
	color:#416689;
	text-align:center;
	font-size:1.2em;
	}
img {
	vertical-align:middle;
	border:0;
	}
.closeWindow {
	position:absolute;
	top:5px;
	right:5px;
	padding:4px;
	background-color:#c2d8ed;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	line-height:0;
	}
.closeWindow:hover {
	background-color:#fff;
	}

.bkg {
	background-color:#f0f0f0;
	}

.empty {
	font-size:.8em;
	text-align:center;
	color:#888;
	}

.box {
	text-align:center;
	margin:5px;
	padding:3px;
	font-size:.8em;
	}
.box input {
	font-size:1em;
	}

.padding {
	padding:20px;
	}

.selectElm {
	font-size:.9em;
	width:350px;
	background-color:#f8f8f8;
	padding:0 10px;
	}
.selectElm ul {
	margin:0;
	padding:0;
	list-style:none;
	}
.selectElm li.segnaposto {
	border:0;
	background-color:transparent;
	padding:0;
	margin:0;
	}
.selectElm li.segnaposto a {
	display:block;
	width:100%;
	height:7px;
	padding:0;
	}
.selectElm li.segnaposto a:hover {
	background-color:#f00;
	}
.selectElm ul ul {
	padding-left:20px;
	}
.selectElm ul li {
	position:relative;
	margin:1px 0;
	background-color:#fff;
	border:1px solid #e8e6e4;
	padding:5px 10px;
	}
.selectElm ul li a {
	padding:5px 10px;
	display:block;
	color:#000;
	}
.selectElm ul li a:hover {
	background-color:#f00;
	color:#000;
	}
