body,html {
	width:100%;
	height:100%;
	}

body {
	font-size: small;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	background-color:#fff;
	color:#000;
	margin:0;
	padding:0;
	text-align: left;
	}

#uploadButton {
	display:block;
	color:#000;
	text-decoration:none;
	background:url('../img/upload.gif') left center no-repeat #f8f8f8;
	border-bottom:1px solid #a8a4a0;
	border-right:1px solid #b4b2b0;
	border-left:1px solid #d4d2d0;
	border-top:1px solid #e8e4e0;
	margin:2px;
	padding:2px 2px 2px 20px;
	}

h1 {
	background-color:#c00;
	color:#fff;
	margin:0;
	padding:10px;
	text-align:center;
	font-size:1.4em;
	}
h2 {
	color:#c00;
	text-align:center;
	font-size:1.2em;
	}
img {
	vertical-align:middle;
	border:0;
	}

.submit {
	background-color:#fbf7c5;
	padding:5px;
	text-align:center;
	}
.button,.smallbutton {
	background:url('../img/buttonbkg.gif') top center repeat-x #f8f8f8;
	border-bottom:1px solid #a8a4a0;
	border-right:1px solid #b4b2b0;
	border-left:1px solid #d4d2d0;
	border-top:1px solid #e8e4e0;
	text-decoration:none;
	}
.button {
	padding:7px 15px;
	color:#000;
	margin:1px;
	}
.smallbutton {
	padding:0 5px;
	color:#000;
	margin:0;
	}

.note {
	font-size:.9em;
	background-color:#ffc;
	margin:5px;
	padding:5px;
	color:#884;
	}
	
.updateButton {
	position:absolute;
	top:0;
	right:0;
	}

/* menu2 */
.smenu {
	background:url('../img/sub_bkg.gif') bottom left repeat-x #fbf7c5;
	}
.smenu ul {
	margin:0;
	padding:5px;
	list-style:none;
	}
.smenu li {
	display:inline;
	padding:0;
	margin:0;
	}
.smenu a {
	text-decoration:none;
	color:#857737;
	padding:5px 10px;
	margin:0;
	border-right:1px solid #eae2ab;
	}
.smenu a:hover {
	background-color:#fff;
	padding:5px 10px;
	margin:0;
	}
.smenu a.sel {
	color:#000;
	background:#fff;
	margin:0;
	}

.imagePreview ul {
	padding:0;
	margin:0;
	list-style:none;
	text-align:left;
	background-color:#fff;
	}
.imagePreview ul li {
	position:relative;
	height:100px;
	padding:5px;
	margin:5px;
	border-bottom:1px solid #e0e0e0;
	}
.imagePreview ul .preview {
	position:absolute;
	top:0;
	left:20px;
	}
.imagePreview ul .options {
	padding-left:200px;
	}
.imagePreview ul .options a {
	margin:4px 0;
	line-height:1.7em;
	}

.box {
	text-align:center;
	margin:5px;
	border:1px solid #ccc;
	background-color:#f0f0f0;
	padding:3px;
	font-size:.8em;
	}
.box input {
	background-color:#fff;
	border:1px solid #ccc;
	font-size:1em;
	}

ul.dragdrop,#drago li {
	padding:0;
	margin:0;
	list-style:none;
	}
ul.dragdrop li {
	float:left;
	}
ul.dragdrop .thumb,#drago .thumb {
	height:100px;
	width:auto;
	}
#drago {
	list-style:none;
	}